{% assign button_layout = 'simple_button' %}
{% if shop.metafields.hulkapps_wishlist.hulkapps_wishlisfirt_general.button_layout != null %}
    {% assign button_layout = shop.metafields.hulkapps_wishlist.hulkapps_wishlist_general.button_layout %}
{% endif %}
<a href="#" class="icon-wishlist-heart-empty wishlist-btn grid-wishlist-btn heart-wishlist-animation" data-wishList data-added="false" data-proID="{{ product.id }}" data-varID="{{ product.selected_or_first_available_variant.id }}" data-button-layout="{{ button_layout }}">
    <div class="hulk_wl_icon-text" hulk-wl-custom-style data-count="{{ shop.metafields.hulkapps_wishlist.hulkapps_wishlist_general.public_wishlist_count }}">
        <div class="hulk_wl_icon">

            <span><svg width="15" height="19" viewBox="0 0 15 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13.9905 18.9856C13.8362 18.9856 13.6678 18.9422 13.5275 18.8555L7.59166 14.1741C7.59166 14.1741 7.53553 14.1741 7.4794 14.1741C7.42327 14.1741 7.36714 14.1741 7.32504 14.2175L1.47343 18.8411C1.291 18.9567 1.13664 19 0.968252 19C0.435012 19 0 18.5521 0 18.003V0.996958C0 0.447909 0.435012 0 0.968252 0H14.0046C14.5378 0 14.9728 0.447909 14.9728 0.996958V17.9741C14.9728 18.5232 14.5378 18.9711 14.0046 18.9711L13.9905 18.9856ZM7.4794 13.5095C7.64779 13.5095 7.80215 13.5529 7.94247 13.6251L13.8783 18.3065C13.8783 18.3065 13.9484 18.3209 13.9905 18.3209C14.1449 18.3209 14.3133 18.1909 14.3133 17.9886V0.996958C14.3133 0.809126 14.1589 0.664639 13.9905 0.664639H0.95422C0.771795 0.664639 0.631469 0.823574 0.631469 0.996958V17.9741C0.631469 18.2487 0.926154 18.3787 1.10858 18.2776L6.96019 13.654C7.14261 13.5384 7.29697 13.5095 7.46536 13.5095H7.4794Z" fill="white"/>
            </svg>
            </span>
        </div>
    </div>
</a>