{% assign button_layout = 'simple_button' %}
{% if shop.metafields.hulkapps_wishlist.hulkapps_wishlisfirt_general.button_layout != null %}
    {% assign button_layout = shop.metafields.hulkapps_wishlist.hulkapps_wishlist_general.button_layout %}
{% endif %}
<a href="#" class="icon-wishlist-heart-empty wishlist-btn grid-wishlist-btn heart-wishlist-animation" data-wishList data-added="false" data-proID="{{ product.id }}" data-varID="{{ product.selected_or_first_available_variant.id }}" data-button-layout="{{ button_layout }}">
    <div class="hulk_wl_icon-text" hulk-wl-custom-style data-count="{{ shop.metafields.hulkapps_wishlist.hulkapps_wishlist_general.public_wishlist_count }}">
        <div class="hulk_wl_icon">

            <span>Add to wishlist</span>
        </div>
    </div>
</a>