<style>
    .wishlist-btn svg{
        height: 10px;
    }
</style>
{% assign button_layout = 'simple_button' %}
{% if shop.metafields.hulkapps_wishlist.hulkapps_wishlisfirt_general.button_layout != null %}
    {% assign button_layout = shop.metafields.hulkapps_wishlist.hulkapps_wishlist_general.button_layout %}
{% endif %}
<a href="#" style="border: 0.5px solid #000;
    border-radius: 2px;
    padding: 2px;" class="icon-wishlist-heart-empty wishlist-btn grid-wishlist-btn heart-wishlist-animation" data-wishList data-added="false" data-proID="{{ product.id }}" data-varID="{{ product.selected_or_first_available_variant.id }}" data-button-layout="{{ button_layout }}">
    <div class="hulk_wl_icon-text" hulk-wl-custom-style data-count="{{ shop.metafields.hulkapps_wishlist.hulkapps_wishlist_general.public_wishlist_count }}">
        <div class="hulk_wl_icon">
            <svg class="icon" width="12" height="14" viewBox="0 0 12 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1 13.0837V1.5C1 1.22386 1.22386 1 1.5 1H10.5C10.7761 1 11 1.22386 11 1.5V13.0335C11 13.4392 10.5423 13.676 10.2111 13.4417L6.51363 10.8246C6.34714 10.7068 6.12575 10.7019 5.95422 10.8123L1.77055 13.5042C1.4378 13.7183 1 13.4794 1 13.0837Z" stroke="black" stroke-width="0.8"/>
</svg>

        
        </div>
    </div>
</a>