{% assign button_layout = 'simple_button' %}
{% if shop.metafields.hulkapps_wishlist.hulkapps_wishlisfirt_general.button_layout != null %}
    {% assign button_layout = shop.metafields.hulkapps_wishlist.hulkapps_wishlist_general.button_layout %}
{% endif %}
<a href="#" class="icon-wishlist-heart-empty wishlist-btn grid-wishlist-btn heart-wishlist-animation" data-wishList data-added="false" data-proID="{{ product.id }}" data-varID="{{ product.selected_or_first_available_variant.id }}" data-button-layout="{{ button_layout }}">
    <div class="hulk_wl_icon-text" hulk-wl-custom-style data-count="{{ shop.metafields.hulkapps_wishlist.hulkapps_wishlist_general.public_wishlist_count }}">
        <div class="hulk_wl_icon">
            <svg width="17" height="21" viewBox="0 0 17 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.93 0H0.76C0.34 0 0 0.34 0 0.76V19.97C0 20.41 0.36 20.73 0.76 20.73C0.88 20.73 1 20.7 1.12 20.64L7.98 15.38C8.09 15.32 8.22 15.29 8.34 15.29C8.46 15.29 8.59 15.32 8.7 15.38L15.56 20.64C15.68 20.7 15.8 20.73 15.92 20.73C16.32 20.73 16.68 20.41 16.68 19.97V0.76C16.68 0.34 16.34 0 15.92 0H15.93Z" fill=""/>
            </svg>            
        </div>
    </div>
</a>