{% assign sid = section.id %}

<div class="index-products">
  <div class="swiper index-products_swiper">
    <div class="swiper-wrapper">

      {% for block in section.blocks %} 
        
      {% endfor %}

    </div>
  </div>  
</div>


{% schema %}
  {
    "name": "Index products",
    "settings": [
    ],
    "blocks": [
      {
        "type": "product",
        "name":"product",
        "settings":[
          {
            "type": "product",
            "id": "product",
            "label": "product"
          },
          {
              "type": "image_picker",
              "id": "img1",
              "label": "image "
            },
            {
              "type": "image_picker",
              "id": "img2",
              "label": "image （hover）"
            }
        ]
      }
    ],
    "presets":[
      {
    "name": "Index products"
      }
    ]
  }
{% endschema %}