<style>
  .product-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
  .product-nav.is-visible{
    visibility: visible;
    opacity: 1;
  }
  .nav-wrapper{
    padding: 16px var(--container-gutter);
    display: flex;
    gap: 24px;
  }
  .nav-wrapper .nav-item{
    color: #000;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.5px;
    cursor: pointer;
  }
@media screen and (max-width: 699px) {

}
</style>


<div class="nav-wrapper">
  <div class="nav-item">Back to Top</div>
  {% for block in section.blocks %} 
    <div class="nav-item" data-id="{{ block.settings.id }}">{{ block.settings.name }}</div>
  {% endfor %}
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    $(window).scroll(function () {
      if( $('product-sticky-bar').hasClass('is-visible') ){
        let header_height = 0;
        let bar_height = $('product-sticky-bar').height();
        if($('.header').hasClass('.is-hidden')){
          header_height = 0;
        }else{
          header_height = $('.header').height();
        }
        let total_height = header_height + bar_height;
        $('.product-nav').addClass('is-visible');
        $('.product-nav').css('top', total_height);
      }else{
        $('.product-nav').removeClass('is-visible');
      }
    })
  })
</script>

{% schema %}
  {
    "name": "product nav",
    "class": "product-nav",
    "limit": 1,
    "tag": "section",
    "enabled_on": {
      "templates": ["product"]
    },
    "settings": [
    ],
    "blocks": [
      {
        "type": "item",
        "name": "Item",
        "settings": [
          {
            "type": "text",
            "id": "name",
            "label": "Section name",
            "default": "Section name"
          },
          {
            "type": "text",
            "id": "id",
            "label": "Section ID",
            "info": "This ID will be used to scroll to the section, find the ID in the product page with the browser inspector"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "product nav"
      }
    ]
  }
{% endschema %}