<div>Rich text one half</div>

{% schema %}
{
  "name": "Rich text one half",
  "settings": [
    {
      "type": "color",
      "id": "color",
      "label": "Text color",
      "default": "#fff"
    }
  ]
}
{% endschema %}
