<div class="rich-text-one-half">
  <div>DFDFD</div>
  <div>FDSFS</div>
</div>

{% schema %}
{
  "name": "Rich text one half",
  "settings": [
    {
      "type": "header",
      "content": "Text"
    },
    {
      "type": "textarea",
      "id": "content_left",
      "label": "Text One"
    },
    {
      "type": "textarea",
      "id": "content_two",
      "label": "Text Two"
    }
  ]
}
{% endschema %}
