<div>dsjkhdjks</div>

{% schema %}
{
  "name": "Rich text one hale",
  "blocks": [
    {
      "type": "block",
      "name": "block",
      "settings": [
        {
          "type": "color",
          "id": "color",
          "label": "Text color",
          "default": "#fff"
        },
        {
          "type": "header",
          "content": "文本"
        },
        {
          "type": "textarea",
          "id": "title",
          "label": "Title",
          "default": "CAMERA BAG"
        },
        {
          "type": "text",
          "id": "btn",
          "label": "Button",
          "default": "Shop Now"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Rich text one hale",
      "blocks": [
        {
          "type": "block"
        },
        {
          "type": "block"
        }
      ]
    }
  ]
}
{% endschema %}
