<div>kkk</div>

{% schema %}
{
  "name": "Rich text one half",
  "blocks":[{
    "type": "block",
    "name":"block",
    "settings":[
      {
        "type": "color",
        "id": "color",
        "label": "Text color",
        "default":"#fff"
      }
    ]
  }],
}
{% endschema %}
