<div class="rich-text-left-right">
  <div class="rich-text-left">
    Aest Studio is a cutting-edge design brand led by women, committed to breaking the neglect of women's needs in
    different professional fields, perfectly integrating "aesthetics" and "functionality", and providing contemporary
    women with more choices. The brand name originates from the first letter of "Aesthetics", symbolizing the brand's
    ultimate pursuit of aesthetics. Aest Studio is also an advocate for women's lifestyles, focusing on women's
    achievements and praising women's power is the spiritual core of the brand. We draw design inspiration from the
    stories of women around the world, attempting to create a new aesthetic language that transcends the singular
    attributes of style and becomes a philosophy of life - breaking silence, showcasing sharpness, and ultimately
    consolidating the unique resilience of women. Whether it's controlling the pace in the workplace or expanding
    boundaries in life, Aest Studio will be the most loyal partner for women, always providing them with bag products
    that combine design and professional practicality.
  </div>
  <div class="rich-text-right">
    Aest Studio is a cutting-edge design brand led by women, committed to breaking the neglect of women's needs in
    different professional fields, perfectly integrating "aesthetics" and "functionality", and providing contemporary
    women with more choices. The brand name originates from the first letter of "Aesthetics", symbolizing the brand's
    ultimate pursuit of aesthetics. Aest Studio is also an advocate for women's lifestyles, focusing on women's
    achievements and praising women's power is the spiritual core of the brand. We draw design inspiration from the
    stories of women around the world, attempting to create a new aesthetic language that transcends the singular
    attributes of style and becomes a philosophy of life - breaking silence, showcasing sharpness, and ultimately
    consolidating the unique resilience of women. Whether it's controlling the pace in the workplace or expanding
    boundaries in life, Aest Studio will be the most loyal partner for women, always providing them with bag products
    that combine design and professional practicality.
  </div>
</div>

{% schema %}
{
  "name": "Rich text Left Right",
  "settings": [
    {
      "type": "header",
      "content": "文本"
    },
    {
      "type": "textarea",
      "id": "rich_text_left",
      "label": "Left"
    },
    {
      "type": "textarea",
      "id": "rich_text_right",
      "label": "Right"
    }
  ]
}
{% endschema %}
