{% liquid
  assign bs = section.settings
  assign title = bs.title
  assign left = bs.left
  assign right = bs.right
%}

{% if title != blank %}
  <div>{{ title }}</div>
{% endif %}

<div class="rich-text-left-right">
  {% if left != blank %}
    <div class="rich-text-left">
      {{ left }}
    </div>
  {% endif %}
  {% if right != blank %}
    <div class="rich-text-right">
      {{ right }}
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Rich text Left Right",
  "settings": [
    {
      "type": "textarea",
      "id": "left",
      "label": "Left",
      "default": "Left"
    },
    {
      "type": "textarea",
      "id": "right",
      "label": "Right",
      "default": "Left"
    },
    {
      "type": "textarea",
      "id": "title",
      "label": "Title",
      "default": "CAMERA BAG"
    }
  ]
}
{% endschema %}
