<div>vdfvf</div>

{% schema %}
{
  "name": "Index baaner (one half)",
  "blocks":[{
    "type": "block",
    "name":"block",
    "settings":[
      {
        "type": "color",
        "id": "color",
        "label": "Text color",
        "default":"#fff"
      },
      {
        "type":"select",
        "id":"type",
        "label": "选用类型",
        "default":"img",
        "options": [
          {
            "label": "图片",
            "value": "img"
          },
          {
            "label": "视频",
            "value": "video"
          }
        ]
      },
      {
        "type": "header",
        "content": "图片"
      }
    ]
  }],
  "presets":[
    {
      "name": "Index banner (one half)" ,
      "blocks": [
        {
          "type": "block"
        },
        {
          "type": "block"
        }
      ]
    }
  ]
}
{% endschema %}
