<div class="rich-text-one-half">
  <div>DFDFD</div>
  <div>FDSFS</div>
</div>

{% schema %}
{
  "name": "Rich text one half",
  "settings": [
    {
      "type": "textarea",
      "id": "content",
      "label": "Content"
    }
  ]
}
{% endschema %}
