{% liquid
  assign bs = section.settings
  assign rich_text_left = bs.rich_text_left
  assign rich_text_right = bs.rich_text_right
%}

<div class="rich-text-left-right">
  <div class="rich-text-left">
    <div>{{ rich_text_left }}</div>
  </div>
  <div class="rich-text-right">
    <div>{{ rich_text_right }}</div>
  </div>
</div>

{% schema %}
{
  "name": "Rich text Left Right",
  "settings": [
    {
      "type": "textarea",
      "id": "rich_text_left",
      "label": "Left",
      "default": "Left"
    },
    {
      "type": "textarea",
      "id": "rich_text_right",
      "label": "Right",
      "default": "Left"
    },
    {
      "type": "textarea",
      "id": "title",
      "label": "Title",
      "default": "CAMERA BAG"
    }
  ]
}
{% endschema %}
