{% liquid
  assign bs = section.settings
  assign left = bs.left
  assign right = bs.right
%}

<div class="rich-text-left-right container">
  {% if left != blank %}
    <div class="rich-text-left">
      {{ left }}
    </div>
  {% endif %}
  {% if right != blank %}
    <div class="rich-text-right">
      {{ right }}
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Rich text Left Right",
  "settings": [
    {
      "type": "textarea",
      "id": "left",
      "label": "Left",
      "default": "Left text"
    },
    {
      "type": "textarea",
      "id": "right",
      "label": "Right",
      "default": "Right text"
    }
  ]
}
{% endschema %}
