{% content_for 'blocks' %}

<div class="">

</div>

{% schema %}
{
    "name": "Section guide",
    "blocks": [
        {
            "type": "item",
            "name":"Item",
            
        }
    ],
    "settings": [
        
    ],
    "presets": [{"name": "Section guide"}]
}
{% endschema %}