.accordion__toggle{
  padding-block: 12px;
  text-transform: capitalize;
  color: #25282A;
  font-size: 12px;
  font-weight: 400;
  line-height: 16.8px;
  letter-spacing: 0.6px;
}
.accordion__content{
  color: #25282A;
  font-size: 10px;
  font-weight: 300;
  line-height: 14px;
  letter-spacing: 0.5px;
}
.product-info__block-group.accordion-group{
  margin: 32px 0;
  margin-block-start: 32px!important;
  margin-block-end: 32px;
}
legend{
  font-size: 14px;
  text-transform: capitalize;
}
.color-swatch{
  --swatch-size: 20px;
}
.block-swatch{
  padding: 0;
  min-width: 1.5rem;
}
.product-info__block-item:is([data-block-type=vendor]){
  --product-info-gap: 0px;
}
.product-info__block-item:is([data-block-type=vendor]) .h6{
  font-size: 10px;
}
.product-info__block-item:is([data-block-type=price]){
  --product-info-gap: 0px;
}
.price-list sale-price{
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.7px;
}
.product-title.h3{
  color: #25282A;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 1px;
}
