.accordion__toggle{
  padding-block: 12px;
  text-transform: capitalize;
  color: #25282A;
  font-size: 12px;
  font-weight: 400;
  line-height: 16.8px;
  letter-spacing: 0.6px;
}
.accordion__content{
  color: #25282A;
  font-size: 10px;
  font-weight: 300;
  line-height: 14px;
  letter-spacing: 0.5px;
}
.product-info__block-group.accordion-group{
  margin: 32px 0;
  margin-block-start: 32px!important;
  margin-block-end: 32px;
}
legend{
  font-size: 14px;
  text-transform: capitalize;
}
